<style>
    .main-menu {
        display: inline-block;
        height: 80px;
        background-color: #0910F3;
        font-family: Arial;
        font-size: 30px;
        padding-top: 20px;
    }
    .main-menu a {
        color: #4A95A8;
    }
</style>
<ul>
    <li class="main-menu"><a href="http://localhost/wizardsmine/">Home</a></li>
    <li class="main-menu"><a href="http://localhost/wizardsmine/forum/home.php">Forum</a></li>
    <li class="main-menu"><a href="http://wizardsmine.buycraft.net/">Shop</a></li>
</ul>