<style>
    .user-bar {
        display: none;
        background-color: #72D5F1;
        height: 50px;
        padding-top: 10px;
        font-size: 21px;
        font-family: Arial;
    }
    .user-bar-login {
        display: none;
    }

    #user-menu {
        height: 50px;
    }
</style>
<ul>
    <li class="user-bar">Inbox</li>
    <li class="user-bar">Characters</li>
    <li class="user-bar">Account settings</li>
    <li class="user-bar"><a id="name"></a></li>
    <li class="user-bar" id="user_id"></li>
    <li class="user-bar"><button id="logout-button">Logout</button></li>
</ul>
<ul>
    <li class="user-bar-login"><a id="login-button" href="http://localhost/wizardsmine/login/login.php">Login!</a></li>
    <li class="user-bar-login"><a id="register-button" href="http://localhost/wizardsmine/login/register.php">Register</a></li>
</ul>
